@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .content{
        justify-content: flex-start;
        width: 80%;
    }
    .image{
        text-align: center;
        width: 40%;
    }
</style>
<div class="container">
    <div class="content">
        <span>
        It is the outcome of visionary mission of Dr. D. Y. Patil, Founder President of Dr. D. Y. Patil Pratishthan. The
        Institute has been set up to fulfill the following objectives:<br><br>



        • To nurture and develop skilled manpower in the field of IT and Electronics.<br>

        • To impart courses with practical-centric approach.<br>

        • To provide quality and latest information in the field of technology.<br>


        • The core strength of the institute lies in the dynamic management team, excellent infrastructure, experienced
        and
        qualified faculties who have been trained to deliver the latest and most advanced technological knowledge to the
        students. Industry experts visit our institute from time to time and deliver lectures.<br>


        • The Institute is also involved in other activities such as software solutions, product development, network
        services etc, which supports the IT industry. In the future, there are plans to expand the areas of services
        offered
        by the Institute.<br>


        • The Institute is located in a tranquil environment within walking distance to the Akurdi railway station. All
        the
        necessary amenities are provided to the students to enable them to work in the institute round the clock. The
        institute is open 24x7 and free wi-fi internet access is provided to students throughout the campus.</p>
        </span>
    </div>
    <div class="image">
        <img src="https://iacsd.com/img/Institute.jpg" width="100%" height="70%">
    </div>
</div>
